<ion-view>
    <ion-content>
    </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-only">
        <ion-tab title="Home" icon-on="icon ion-arrow-swap" icon-off="icon ion-arrow-swap">
            <div class="row">
                <div class="col">
                    <a href="#/views/home"><i class="ion-ios-home" style="color: #FF9900; font-size: 40px;"></i>
</a>
</div>
</div>
<div class="text-center">
    <!-- ng-repeat="employeeData in empData" -->
    <div>
        <a href="#/views/capture">
                        <img ng-src="{{user.profileImageURL}}" style="with:200px;height:200px" class="imgRadius"/>
</a>
</div>
<br>
<p style="color: #FF9900; font-size: 150%;">{{user.firstName}} {{user.lastName}}</p>
<br>
<div ng-repeat="items in user.Employeeprofile">
    <div class="row">
        <div class="col col-33">
            <i class="ion-android-arrow-dropright-circle" style="color: green; font-size: 80px;"></i>
</div>
<div class="col col-66 text-left">

    <h4 style="color: green; font-size:20px;">{{data.dateTimeIn |date:'medium'}}</h4>
</div>
</div>
<div class="row">
    <div class="col col-33">
        <i class="ion-android-arrow-dropleft-circle" style="color: red; font-size: 80px;"></i>
</div>
<div class="col col-66 text-left">
    <h4 style="color: red; font-size:20px;">{{data.dateTimeOut |date:'medium'}}</h4>
</div>
</div>
</div>
<!-- <p style="font-size: 150%;">Check In : 09:00 PM</p> -->
</div>
</ion-tab>
<ion-tab title="About" icon-on="icon ion-calendar" icon-off="icon ion-calendar">
    <!-- Tab 2 content -->
    <div class="row">
        <div class="col">
            <a href="#/views/home"><i class="ion-ios-home" style="color: #FF9900; font-size: 40px;"></i>
</a>
</div>
<div class="col text-center">
    <h4 style="color: #FF9900;">History</h4>
</div>
<div class="col text-right">
</div>
</div>
<br>
<div class="row">
    <div class="col col-10">
    </div>
    <div class="col col-80 text-center">
        <div class="button-bar">
            <a class="button" ng-class="var==1?'button-balanced':'button-stable'" ng-click="click(1)">Worked</a>
            <a class="button" ng-class="var==2?'button-balanced':'button-stable'" ng-click="click(2)">Leaved</a>
        </div>
    </div>
    <div class="col col-10">
    </div>
</div>
<div ng-show="var=='1'" class="scrollArea">
    <div class="list ">
        <a class="item item-icon-left " style="background-color: #EEEEEE;" ng-repeat="timer in dateData"ng-if="user._id === timer.user._id">
<i class="icon ion-ios-calendar-outline" style="color: #ff9900;"></i>
{{timer.dateTimeIn |date:'dd MMMM yyyy'}}
<div class="row">
    <i class="ion-android-arrow-dropright-circle" style="color: green; font-size: 20px;"></i>
&nbsp;
<p>{{timer.dateTimeIn |date:'h:mma'}}</p> &nbsp;
<i class="ion-android-arrow-dropleft-circle" style="color: red; font-size: 20px;"></i>
&nbsp;
<p>{{timer.dateTimeIn |date:'h:mma'}}</p> &nbsp;
</div>
<i class="icon ion-android-calendar" style="color: #ff9900;"></i>
<!--<h2 style="font-weight: bold;">data.dateTimeIn | date:'dd MMMM yyyy'</h2>-->
<div class="row">
    <!--<div class="col col-10 ">
        <i class="ion-android-arrow-dropright-circle" style="color: green; font-size: 20px;"></i>
</div>-->
    <!--<div class="col col-25">
        <p>{{data.dateTimeIn |date:'medium'}}</p>


    </div>-->
    <!--<div class="col col-10">
    <i class="ion-android-arrow-dropleft-circle" style="color: red; font-size: 20px;"></i>
</div>-->
    <!--<div class="col col-25">
        <p>{{data.dateTimeOut |date:'medium'}}</p>

    </div>-->
</div>
</a>
</div>
</div>
<div ng-show="var=='2'" class="scrollArea">
    <div class="list">

        <a ng-click="showDetailLeave(item)" class="item item-icon-left" style="background-color: #EEEEEE;" ng-repeat="item in leaveData "ng-if="user._id === item.user._id">
<i class="icon ion-android-calendar" style="color: #ff9900;"></i>
<h2 style="font-weight: bold;">{{item.leaveType}} Leave : {{item.leaveStartDateTime ? item.leaveStartDateTime : '' | date: 'dd/MM/yyyy'}} {{item.leaveHalf
=== true ? 'ลาครึ่งวัน' : ''}}</h2>
<p>{{item.remark}}</p>
</a>
</div>
</div>
</ion-tab>
<ion-tab title="Settings" icon-on="icon ion-document" icon-off="icon ion-document">
    <!-- Tab 3 content -->
    <div class="row">
        <div class="col">
            <a href="#/views/home"><i class="ion-ios-home" style="color: #FF9900; font-size: 40px;"></i>
</a>
</div>
<div class="col text-center">
    <h4 style="color: #FF9900;">Request</h4>
</div>
<div class="col text-right">
</div>
</div>
<br>
<div class="row">
    <div class="col col-10">
    </div>
    <!--<div class="col col-80 text-center">
        <div class="button-bar">
            <a class="button" ng-class="var==1?'button-balanced':'button-stable'" ng-click="click(1)">Leave</a>
            <a class="button" ng-class="var==2?'button-balanced':'button-stable'" ng-click="click(2)">Adjust</a>
        </div>
    </div>-->
    <div class="col col-10">
    </div>
</div>
<div>
    <div class="list">
        <a ng-click="showDetailLeave(item)" class="item item-icon-left" style="background-color: #EEEEEE;" ng-repeat="item in leaveData " ng-if="user._id === item.user._id">
<i class="icon ion-android-calendar" style="color: #ff9900;" ></i>
<h2 style="font-weight: bold;">{{item.leaveType}} Leave : {{item.leaveStartDateTime ? item.leaveStartDateTime : '' | date: 'dd/MM/yyyy'}} {{item.leaveHalf
=== true ? 'ลาครึ่งวัน' : ''}}</h2>
<p>{{item.remark}}</p>
<p style="color: red;">สถานะ: {{item.leaveStatus }} </p>
<!--<span class="badgeleave {{item.ApproveStatus =='A' ? 'badge-adjust' : item.ApproveStatus =='W' ? 'badge-wait' : 'badge-reject'}}"><p id="fontStatus">{{item.ApproveStatus}}</p></span>-->
</a>
</div>
</div>
<!--<div ng-show="var=='2'" class="scrollAreas">
    <div class="list">
        <a href="#" class="item item-icon-left" style="background-color: #EEEEEE;" ng-repeat="item in adjust">
<i class="icon ion-android-calendar" style="color: #ff9900;"></i>
<h2 style="font-weight: bold;">item.adjustDate</h2>
<p>item.adjustDetail</p>
<span class="badgeleave {{item.adjustStatus =='A' ? 'badge-adjust' : item.adjustStatus =='W' ? 'badge-wait' : 'badge-reject'}}"><p id="fontStatus">{{item.adjustStatus}}</p></span>
</a>
</a>
</div>
</div>-->
</ion-tab>
</ion-tabs>
</ion-view>