<ion-content ng-init="readleave();">
    <div class="row row-bottom ">
        <div class="col col-33" style="text-align:left;"><a href="#/views/leave"><i class="ion-ios-arrow-back" style="font-size: 40px; color: #ff9900;" ></i>
</a>
</div>
<div class="col col-33" style="text-align:center;">
<p style="font-size: 150%; color: #ff9900;">Leave List</p>
</div>
</div>
</br>
<div class="list" class="scrollAreas" ng-repeat="getLeavesData in leave | orderBy:leaveStartDateTime" ng-if="getLeavesData.leaveStatus != 'cancel'">
    <!--{{leave}}-->
    <!-- ng-click="showActionSheet(getLeavesData)" -->
    <!--{{getLeavesData}}-->
    <a href="#/views/leaveDraft/{{getLeavesData}}" class="item item-icon-left" style="background-color: #EEEEEE;">
<i class="icon ion-android-calendar" style="color: #ff9900;"></i>
<h2 style="font-weight: bold;">
<p>{{getLeavesData.leaveType}} Leave : {{getLeavesData.leaveStartDateTime ? getLeavesData.leaveStartDateTime : '' | date: 'dd/MM/yyyy'}} {{getLeavesData.leaveHalf === true ? 'ลาครึ่งวัน' : ''}}</p>
</h2>

<p>{{getLeavesData.remark}}</p>
</a>
</div>

</ion-content>