<ion-view>
    <ion-content scroll="false">
        <div class="row">
            <div class="col col-20">
                <a href="#/views/home"><i class="ion-ios-home" style="color: #FF9900; font-size: 40px;"></i></a>
            </div>
            <div class="col col-60 text-center">
                <h4 style="color: #FF9900;">View Teams</h4>
            </div>
            <div class="col col-20">
                
            </div>
        </div>
        <div id="map" style="with:100%;height:90%"></div>
    </ion-content>
</ion-view>
